{% extends "base.html" %}
{% block content %}

{{ macros.m_button_group([['globalSettingSaveBtn', '설정 저장'], ['token_delete_btn', '토큰 초기화'], ['login_check_btn', '로그인 확인']])}}
{{ macros.m_row_start('5') }}
{{ macros.m_row_end() }}

<nav>
  {{ macros.m_tab_head_start() }}
  {{ macros.m_tab_head('normal', '설정', true) }}
  {{ macros.m_tab_head('api', 'API', false) }}
  {{ macros.m_tab_head_end() }}
</nav>
<form id='setting' name='setting'>
  <div class="tab-content" id="nav-tabContent">
    {{ macros.m_tab_content_start('normal', true) }}
    {{ macros.info_text_go('hls_playback', 'Native HLS Playback', value=arg['hls_playback'], desc=['웹에서 사용시 크롬확장프로그램 설치하세요']) }}
    {{ macros.m_hr() }}
    {{ macros.setting_checkbox('use_live', 'LIVE', value=arg['use_live']) }}
    {{ macros.setting_checkbox('use_news', 'NEWS', value=arg['use_news']) }}
    {{ macros.setting_input_text('username', '아이디', value=arg['username'], desc=['E메일 주소']) }}
    {{ macros.setting_input_text('password', '패스워드', value=arg['password'], type='password', desc=['패스워드']) }}
    {{ macros.setting_select('userprofile', '프로필', [['0','프로필1'], ['1','프로필2'], ['2', '프로필3'], ['3', '프로필4']],
    col='3', value=arg['userprofile'])}}
    {{ macros.setting_input_int('token_refresh_day', '토큰 갱신 시간', value=arg['token_refresh_day'], desc=['유저 토큰 갱신 간격. Day 단위']) }}
    {{ macros.setting_select('use_quality', '화질', [['1920x1080','1080p'], ['1280x720','720p'], ['960x540', '540p'], ['640x360', '360p']],
    col='3', value=arg['use_quality'])}}
    {{ macros.setting_radio_with_value('streaming_type', '스트리밍 타입', [['direct',
    'Direct'], ['proxy',
    'Proxy']], value=arg['streaming_type'], desc=['- Direct: FF와 Player가 동일 네트워크 일 때 사용합니다. Proxy 옵션보다 성능이 좋습니다.',' - Proxy: 타 네트워크에서 재생할 때 사용합니다. FF가 방송 데이터를 받아서 Player에 보냅니다.']) }}
    {{ macros.m_tab_content_end() }}

    {{ macros.m_tab_content_start('api', false) }}
    {{ macros.info_text_go('api_m3u', 'M3U', value=arg['api_m3u']) }}
    {{ macros.info_text_go('api_yaml', 'YAML', value=arg['api_yaml']) }}
    {{ macros.m_tab_content_end() }}
  </div>
</form>

<script type="text/javascript">

$("body").on('click', '#yaml_select_btn', function (e) {
  e.preventDefault();
  path_data = $(this).data('path_data');
  globalSelectLocalFile("파일 선택", path_data, function (ret) {
    $('#yaml_path').val(ret);
  });
});

$("body").on('click', '#login_check_btn', function(e){
  e.preventDefault();
  globalSendCommand('login_check');
});

$("body").on('click', '#token_delete_btn', function(e){
  e.preventDefault();
  globalSendCommand('token_delete');
});


</script>

{% endblock %}